<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div class="m-auto mt-5" style="max-width: 330px; padding: 1rem;">
  <%= form_with url: session_path do |form| %>
    <h1 class="h3 mb-3 fw-normal text-center">登入 Butomation</h1>
    <div class="form-floating">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control mb-2" %>
      <label for="floatingInput">请输入邮箱地址</label>
    </div>
    <div class="form-floating">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-control mb-2" %>
      <label for="floatingPassword">请输入密码</label>
    </div>
    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="checkDefault">
      <label class="form-check-label" for="checkDefault">
        保持登入状态
      </label>
    </div>
    <%= form.submit "登入系统", class: "btn btn-primary w-100 py-2" %>
  <% end %>
  <br />
  <%= link_to "忘记密码?", new_password_path, class: "text-decoration-none" %>
</div>
