<div id="<%= dom_id pokermon %>">
  <p>
    <strong>Nickname:</strong>
    <%= pokermon.nickname %>
  </p>

  <p>
    <strong>Kana:</strong>
    <%= pokermon.kana %>
  </p>

  <p>
    <strong>Registry cellphone:</strong>
    <%= pokermon.registry_cellphone %>
  </p>

  <p>
    <strong>Registry postcode:</strong>
    <%= pokermon.registry_postcode %>
  </p>

  <p>
    <strong>Registry fandi:</strong>
    <%= pokermon.registry_fandi %>
  </p>

  <p>
    <strong>Reg password:</strong>
    <%= pokermon.reg_password %>
  </p>

</div>
