<%= form_with(model: lottery) do |form| %>
  <% if lottery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lottery.errors.count, "error") %> prohibited this lottery from being saved:</h2>

      <ul>
        <% lottery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row my-3">
    <div class="col">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
      <div id="titleHelp" class="form-text">简要描述抽签计划，如"抽取100个宝可梦黑盒"。</div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <%= form.label :started_at, class: "form-label" %>
      <%= form.datetime_field :started_at, class: "form-control" %>
    </div>

    <div class="col"> 
      <%= form.label :ended_at, class: "form-label" %>
      <%= form.datetime_field :ended_at, class: "form-control" %>
    </div>
    <div id="startedAtHelp" class="form-text">注意：此处选择北京时间，东京时间由系统计算。</div>
  </div>

  <div class="row my-3">
    <div class="col">
      <%= form.label :target_url, class: "form-label" %>
      <%= form.text_field :target_url, class: "form-control" %>
      <div id="urlHelp" class="form-text">抽签产品页面网址。如未公布请留空。</div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <%= form.label :priority, "优先级", class: "form-label" %>
      <%= form.select :priority, Lottery.priorities.keys.map { |k| [Lottery.priorities[k], k] }, {}, class: "form-select" %>
    </div>
    <div class="col">
      <%= form.label :status, "状态", class: "form-label" %>
      <%= form.select :status, Lottery.statuses.keys.map { |k| [Lottery.statuses[k], k] }, {}, class: "form-select" %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <%= form.label :meeting_url, "会议链接", class: "form-label" %>
      <%= form.text_field :meeting_url, class: "form-control" %>
      <div id="meetingUrlHelp" class="form-text">抽签会议链接，如未安排请先留空。</div>
    </div>
    <div class="col">
      <%= form.label :meeting_code, "会议密码", class: "form-label" %>
      <%= form.text_field :meeting_code, class: "form-control" %>
      <div id="meetingCodeHelp" class="form-text">抽签会议密码，如未安排请先留空。</div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <%= form.label :user_id, "创建者" %>
      <%= form.text_field :user_id, value: Current.user.email_address, class: "form-control", disabled: true %>
      <%= form.hidden_field :user_id, value: Current.user.id %>
    </div>
    <div class="col">
      <%= form.label :owner_id, "执行者" %>
      <%= form.collection_select :owner_id, User.all, :id, :email_address, 
          { selected: Current.user.id, include_blank: true }, 
          { class: "form-select" } %>
    </div>
  </div>
  <hr />
  <div class="d-grid gap-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
