<%= form_with(model: lottery) do |form| %>
  <% if lottery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lottery.errors.count, "error") %> prohibited this lottery from being saved:</h2>

      <ul>
        <% lottery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row my-3">
    <div class="col">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
      <div id="titleHelp" class="form-text">简要描述抽签计划，如“抽取100个宝可梦黑盒”。</div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <%= form.label :started_at, class: "form-label" %>
      <%= form.datetime_field :started_at, class: "form-control" %>
    </div>

    <div class="col"> 
      <%= form.label :ended_at, class: "form-label" %>
      <%= form.datetime_field :ended_at, class: "form-control" %>
    </div>
    <div id="startedAtHelp" class="form-text">注意：此处选择北京时间，东京时间由系统计算。</div>
  </div>

  <div class="row my-3">
    <div class="col">
      <%= form.label :target_url, class: "form-label" %>
      <%= form.text_field :target_url, class: "form-control" %>
      <div id="urlHelp" class="form-text">抽签产品页面网址。如未公布请留空。</div>
    </div>

    <div>
      <%= form.hidden_field :user_id, value: Current.user.id %>
    </div>
  </div>
  <hr />
  <div class="d-grid gap-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
