<div id="<%= dom_id lottery %>">
  <p>
    <strong>Title:</strong>
    <%= lottery.title %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= lottery.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= lottery.ended_at %>
  </p>

  <p>
    <strong>Target url:</strong>
    <%= lottery.target_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= lottery.user_id %>
  </p>

</div>
